nav a {
    color: crimson;
    text-decoration: none;
    position: relative;
}

a.animation:after {
    content: "";
    width: 100%;
    position: absolute;
    display: inline-block;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: crimson;
    transform-origin: bottom right;
    transform: scaleX(0);

}

a.animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform .5s ease-out;
}

blockquote {
    background-color: #eaeaea;
}

span {
    font-weight: bold; 
}

span:last-child {
    color: crimson;
}

a.link {
    font-family: "Lato";
    text-decoration: none;
}

a.link.font {
    font-family: "PT Serif";
    font-weight: 700;
}

#cta {
    color: crimson;
    font-family: "Lato";
}

li:nth-child(odd) {
    text-decoration: underline;
}